* {
    margin: 0px;
    padding: 0px;
}
.App {
    background-color: #f0e4d7;
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 500px;
    margin-right: 500px;
}

.im {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.full {
    font-family: Arial;
    color: black;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.5mm;
    margin-top: 20px;
}
.bio {
    font-size: small;
    font-family: Helvetica;
    letter-spacing: 0.6mm;
    margin-top: 40px;
    margin-left: 15px;
}
.pro {
    font-size: small;
    font-family: Helvetica;
    letter-spacing: 0.5mm;
    margin-top: 25px;
}
.but {
    margin-top: 50px;
}
